<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="college.multidatasource.dao.CfMultyImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="college.multidatasource.model.CfMultyImage">
        <id column="multy_image_id" property="multyImageId" />
        <result column="business_id" property="businessId" />
        <result column="business_type" property="businessType" />
        <result column="file_name" property="fileName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        multy_image_id, business_id, business_type, image_url
    </sql>

</mapper>
